{% extends "not_auth.html" %}
{% block main %}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Tag
                        <a href="#"><strong class="text-danger">python</strong></a>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <div class="list-group-item">
                            <div class="media">
                                <div class="media-left text-center">
                                    <div class="thumbnail">
                                        <img width="128" height="128" src="static/exmpl.png">
                                    </div>
                                    <div class="btn-group">
                                         <button type="button" class="btn btn-xs btn-success">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </button>
                                        <!--<button type="button" class="btn btn-xs btn-default">-->
                                            <strong class="text-danger">&nbsp;&nbsp;13</strong>
                                        <!--</button>-->
                                        <button type="button" class="btn btn-xs btn-danger">
                                            <i class="glyphicon glyphicon-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h3 class="list-group-item-heading media-heading">
                                        <a href="#">How to build a moon park?</a>
                                    </h3>

                                    <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                    <hr>
                                    <dl class="dl-horizontal pull-left">
                                        <dt>Tags:</dt>
                                        <dd>
                                            <a href="#"><span class="label label-danger">bender</span></a>
                                            <a href="#"><span class="label label-primary">cookie</span></a>
                                            <a href="#"><span class="label label-success">python</span></a>
                                            <a href="#"><span class="label label-default">luna</span></a>
                                        </dd>
                                    </dl>
                            <span class="pull-right">
                                <a class="btn btn-link ask_btn-inline" href="#">
                                    <strong><i class="glyphicon glyphicon-comment"></i> Answer (1)</strong>
                                </a>
                            </span>
                                    <span class="clearfix"></span>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="media">
                                <div class="media-left text-center">
                                    <div class="thumbnail">
                                        <img width="128" height="128" src="static/exmpl.png">
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-xs btn-success">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </button>
                                        <!--<button type="button" class="btn btn-xs btn-default">-->
                                            <strong class="text-danger">&nbsp;&nbsp;234</strong>
                                        <!--</button>-->
                                        <button type="button" class="btn btn-xs btn-danger">
                                            <i class="glyphicon glyphicon-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h3 class="list-group-item-heading media-heading">
                                        <a href="#">How to build a moon park?</a>
                                    </h3>

                                    <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                    <hr>
                                    <dl class="dl-horizontal pull-left">
                                        <dt>Tags:</dt>
                                        <dd>

                                            <a href="#"><span class="label label-info">movie</span></a>
                                            <a href="#"><span class="label label-success">ihatetags</span></a>
                                            <a href="#"><span class="label label-default">luna</span></a>
                                        </dd>
                                    </dl>
                            <span class="pull-right">
                                <a class="btn btn-link ask_btn-inline" href="#">
                                    <strong><i class="glyphicon glyphicon-comment"></i> Answer (2)</strong>
                                </a>
                            </span>
                                    <span class="clearfix"></span>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="media">
                                <div class="media-left text-center">
                                    <div class="thumbnail">
                                        <img width="128" height="128" src="/static/exmpl.png">
                                    </div>
                                    <div class="btn-group">
                                            <button type="button" class="btn btn-xs btn-success">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </button>
                                        <!--<button type="button" class="btn btn-xs btn-default">-->
                                            <strong class="text-danger">&nbsp;&nbsp;-1</strong>
                                        <!--</button>-->
                                        <button type="button" class="btn btn-xs btn-danger">
                                            <i class="glyphicon glyphicon-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h3 class="list-group-item-heading media-heading">
                                        <a href="#">How to build a moon park?</a>
                                    </h3>

                                    <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                    <hr>
                                    <dl class="dl-horizontal pull-left">
                                        <dt>Tags:</dt>
                                        <dd>
                                            <a href="#"><span class="label label-danger">bender</span></a>
                                            <a href="#"><span class="label label-primary">cookie</span></a>
                                            <a href="#"><span class="label label-default">blackjack</span></a>

                                        </dd>
                                    </dl>
                            <span class="pull-right">
                                <a class="btn btn-link ask_btn-inline" href="#">
                                    <strong><i class="glyphicon glyphicon-comment"></i> Answer (3)</strong>
                                </a>
                            </span>
                                    <span class="clearfix"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="text-center">
                        <ul class="pagination">
                            <li class="disabled">
                                <a href="#">&laquo;</a>
                            </li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#">&raquo;</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        {% endblock %}