{% extends "base.html" %}
{% block not_auth %}
     <div id="navbar" class="navbar-collapse collapse">

          <form class="navbar-form navbar-right">
            <div class="form-group">
                <div class="btn-group">
                    <button type="button" class="btn btn-link" href="/login">
                        <i class="glyphicon glyphicon-log-in" ></i> Log in
                    </button>
                    <button type="button" class="btn btn-link" href="/register">
                        <i class="glyphicon glyphicon-pencil"></i> Register
                    </button>
                </div>
            </div>
        </form>
{% endblock %}