{% extends "not_auth.html" %}
{% block main %}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Register</h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-danger">
                        <strong>The following errors occured:</strong>
                        <ul>
                            <li>Sorry, user with this email address is already registered.</li>
                        </ul>
                    </div>
                    <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="ask_input-login" class="col-md-2 control-label">Login</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="ask_input-login" placeholder="Login" maxlength="21" value="nikolaev">
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <label for="ask_input-email" class="col-md-2 control-label">Email</label>
                            <div class="col-md-10">
                                <input type="email" class="form-control" id="ask_input-email" maxlength="120" placeholder="Email" value="nikolaev@mail.com">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ask_input-password" class="col-md-2 control-label">Password</label>
                            <div class="col-md-10">
                                <input type="password" class="form-control" id="ask_input-password" maxlength="42" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ask_input-repeat-password" class="col-md-2 control-label">Repeat password</label>
                            <div class="col-md-10">
                                <input type="password" class="form-control" id="ask_input-repeat-password" maxlength="42" placeholder="Repeat password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ask_input-upload-avatar" class="col-md-2 control-label">Upload avatar</label>
                            <div class="col-md-10">
                                <input type="file" id="ask_input-upload-avatar">
                                <p class="help-block">Maximum file size is 4 MB.</p>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-check"></i> Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


{% endblock %}